﻿@import url(styles.css);
body, html {
  height: 100%;
  width: 100%; }

body {
  background-size: cover;
  background-repeat: no-repeat; }

.bg1 {
  background-image: url(../images/bg1.jpg); }

.bg2 {
  background-image: url(../images/bg2.jpg); }

.bg3 {
  background-image: url(../images/bg3.jpg); }

img {
  max-width: 100%; }

.header, h2, h3 {
  font-family: 'Oxygen', sans-serif; }

h3.yes {
  color: green; }

h3.no {
  color: orange; }

h3.error {
  color: red; }

.header {
  color: white;
  font-size: 35px; }
  .header .desc {
    font-size: 13px; }

.template {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(9, 31, 65, 0.79); }

.box {
  min-height: 300px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); }
  .box .box-img {
    display: flex;
    align-items: center;
    justify-content: center; }
    .box .box-img .decor {
      max-width: 400px;
      max-height: 400px; }

.footer {
  text-align: right;
  color: white; }
