﻿@model NanaApi.WebModels.BigInfoBox
@using NanaApi.WebModels
@using Microsoft.AspNetCore.Html

<div class="box">
    <h2 class="text-center pt-5">@Model.H2Title</h2>
    <div class="row p-4">
        <div class="col-md-6 box-img">
            <img class="decor" src='~/ViewsAssets/Core/images/@(Model.Version).png'>
        </div>
        <div class="col-md-6">
            <div data-aos="fade-up" data-aos-duration="1500">
                <h3 class="@Model.Version">@Model.H3Title</h3>
                <p>
                    @Html.Raw(Model.Paragraph)
                </p>

                @foreach (var alert in Model.Alerts)
                {
                    <div class="alert alert-@GetAlertVersion(Model.Version)" role="alert">
                        @Html.Raw(alert)
                    </div>
                }

            </div>

        </div>
    </div>
</div>

@functions  {
    public string GetAlertVersion(BigInfoBoxVersion version)
    {
        switch (version)
        {
            case BigInfoBoxVersion.yes:
                return "success";
            case BigInfoBoxVersion.error:
                return "danger";
            default:
                return "dark";
        }
    }
}
