﻿@{
    Layout = null;
    @model NanaApi.WebModels.WebPage
}

<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@Model.SeoTitle</title>
    <meta name="description" content="" />

    <!-- Font Awesome icons (free version)-->
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">

    <!-- CSS (includes Bootstrap 4.5)-->
    <link href="~/ViewsAssets/Core/css/skek.css" rel="stylesheet" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body class="@Model.BgClass">
    <div class="template">
        <header class="header">
            <div class="container">
                <div class="p-3">
                    SKEK
                    <div class="desc">System Komunikacji Elektornicznej z Klientem</div>
                </div>

            </div>

        </header>

        @RenderBody()

        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                Powered with coffee and patience by <b>TRIN</b> 2020
            </div>
        </footer>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>AOS.init();</script>

</body>
</html>
